@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG : hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: outfit;
    background-color: var(--main-BG);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
}
.container{
    margin-top: 10vh;
    min-width: 25vw;
    height: 82vh;
    padding: 0 2rem 2rem;
    background-color: var(--card-BG);
    border-radius: .5rem;
}
.upper{
    /* background-color: var(--Soft-blue); */
    background-image: url("bg.jpeg");
    background-size: cover ;
    filter: drop-shadow(4px 4px 6px #101427);
    height: 25%;
    position: relative;
    border-radius: .5rem 0.5rem 4rem 4rem ;
}
.upper img{
    width: 150px;
    height: 150px;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 1rem 0 1rem ;
    margin-top: 100px;
}
.title{
    width: 100%;
    margin-bottom: 1.5rem;
    margin-bottom: 1rem;
}
.title h2{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--line);
    font-size: 1.8rem;
}
.content p{
    /* text-align: center; */
    color: var(--Soft-blue);
    margin-bottom: 1rem;
}
.content a{
    text-decoration: none;
    color: var(--White);
}
i{
    margin-right: 10px;
}
a:hover{
    color: var(--Cyan);
}
.btn{
    background-color: var(--line);
    width: 60%;
    height: 2.5rem;
    /* padding: 5px; */
    padding-top: 2px;
    border-radius: .7rem;
    text-align: center;
}
.btn:hover{
    opacity: 0.8;
}
a{
    margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 95%;
        min-height: 80vh;
        padding: 0;
    }
    
}
/* @media only screen and (max-width: 1000px  ) {
    .container{
        width: 70%;
        height: 70vh;
        overflow-y: visible;
    }
    
} */